@model IEnumerable<Kurs.Models.TeachersDate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">


            </div>


        </div>



    </div>

</div>


<div class="container-fluid mt--6">
    <div class="row" dir="rtl">
        @foreach (var item in Model)
        {

            <div class="col-xl-4  col-md-6 ">
                <div class="card card-profile">
                    <img src="@item.Cours.Image" alt="Image placeholder" class="card-img-top">


                    <div class="card-body pt-0">

                        <div class="text-center">

                            <a href="@Url.Action("Index","Assignments",new {coursID =item.CourseID ,classID =item.ClassID })">
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>@item.Cours.Name
                                </div>
                                <div>
                                    <i class="ni education_hat mr-2"></i>@item.Class.Name
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Progress track -->

            </div>
        }

    </div>
    <!-- Footer -->

</div>
